@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100vh;
}

body {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100%;
}

div {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

header {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

nav {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

main {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

section {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

article {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

footer {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

table {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  text-align: left;
  border-collapse: collapse;
}

tbody {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: top;
  text-align: left;
}

form {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

input {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

button {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

select {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

ul {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
}

li {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
}

a {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
  border:0px;
}
